
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body  ng-app="myModul">
    <div> 
       <h1>{{"Derya"}}</h1>
        <br />sss
    </div>
    <script type="text/javascript">
       var app = angular.module("myModul", []);
    </script>
</body>
</html>
